/* font-family: "Montserrat", sans-serif; */

body{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
p{
    font-size: 0.875rem;
}
/* LINKS */
.link-black{
    color: black;
    text-decoration: none;
    transition: all 0.8s;
    margin: 0 10px;
}
.link-black:hover{
    transition: all 0.8s;
    text-decoration: underline;
}
.link-bg-blue{
    color: white;
    text-decoration: none;
    transition: all 0.8s;
    background-color: #0055B9;
    padding: 15px 20px;
    border-radius: 40px;
}
.link-bg-blue:hover{
    transition: all 0.8s;
    color: #0055B9;
    background-color: white;
}
.link-outline-white{
    transition: all 0.8s;
    color: white;
    border: white 1px solid;
    padding: 10px 20px;
    border-radius: 40px;
    text-decoration: none;
}
.link-outline-white:hover{
    transition: all 0.5s;
    opacity: 0.6;
}
.link-white{
    color: white;
    text-decoration: none;
    transition: all 0.8s;
}
.link-white:hover{
    transition: all 0.8s;
    text-decoration: underline;
}
.link-underline-black{
    color: black;
}


.fw-medium{
    font-weight: 600;
}


header{
    margin: 4em 0;
}
header .border-bottom{
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}
header .nav-link{
    padding: 0;
    margin: 0;
    margin-right: 40px;
    margin-top: 20px;
}
.nav-menu .border-left{
    border-left: 1px solid #DCDCDC;
}
.nav-menu{
    position: relative;
    width: 100%;
}
.nav-menu > ul{
    position: relative;
    z-index: 4000;
}
.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
	width: auto;
	display: inline-block;
	float: left;
}
.dropdown-menu.show {
    padding: 2em;
	width: 1320px;
	z-index: 8000;
	position: absolute;
	inset: 0px auto auto 0px;
	margin: 0px;
	transform: translate3d(0px, 42px, 0px);
}
.nav-menu p{
    font-size: 0.8;
}
.nav-menu h4{
    font-weight: 400;
}
.content-icon{
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.content-icon > *{
    display: inline-block;
    align-items: center;
}
.content-icon h6{
    font-size: 0.8rem;
    width: 70%;
    margin: 0;
}
.icon-navbar{
    width: 56px;
    margin-right: 10px;
}
.icon-small{
    width: 24px;
}

footer{
    background-color: #062F65;
    padding: 5em 0;
    color: white;
}
footer ul{
    padding: 0;
    margin: 0;
}
footer ul li{
    list-style: none;
    margin-bottom: 10px;
}
footer .content-icons li{
    margin-bottom: 0;
    display: inline-block;
    margin-right: 15px;
}
.accordion-button:not(.collapsed){
    background-color: transparent;
    box-shadow: none;
    color: white;
}
.accordion-item{
    background-color: transparent;
    border: none;
}
.accordion-button{
    background-color: transparent;
    color: white;
    padding: 0;
    margin: 15px 0;
}
.accordion-body{
    padding: 0;
}
.accordion-item:first-of-type>.accordion-header .accordion-button {
     border-top-left-radius: 0; 
     border-top-right-radius: 0; 
}
.accordion-button:not(.collapsed)::after {
    background-image: url(../images/arrow-footer.png);
}
.accordion-button::after {
    background-image: url(../images/arrow-footer.png);
}
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
}
.accordion-button:focus {
    box-shadow: none;
}