/* font-family: "Montserrat", sans-serif; */

body{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
}
p{
    font-size: 0.875rem;
}
/* LINKS */
.link-black{
    color: #292929;
    text-decoration: none;
    transition: all 0.8s;
    margin: 0 10px;
}
.link-black:hover{
    transition: all 0.8s;
    text-decoration: underline;
}
.link-bg-blue{
    color: white;
    text-decoration: none;
    transition: all 0.8s;
    background-color: #0055B9;
    border: 1px solid transparent;
    padding: 13px 20px;
    border-radius: 40px;
}
.link-bg-blue:hover{
    transition: all 0.8s;
    color: #0055B9;
    background-color: white;
    border: 1px solid #0055B9;
}
.link-outline-white{
    transition: all 0.8s;
    color: white;
    border: white 1px solid;
    padding: 10px 20px;
    border-radius: 40px;
    text-decoration: none;
}
.link-outline-white:hover{
    transition: all 0.5s;
    opacity: 0.6;
}
.link-white{
    color: white;
    text-decoration: none;
    transition: all 0.8s;
}
.link-white:hover{
    transition: all 0.8s;
    text-decoration: underline;
}
.link-underline-black{
    color: #292929;
    transition: all 0.8s;
}
.link-underline-black:hover{
    color: #0055B9;
    transition: all 0.8s;
}
.fw-medium{
    font-weight: 600;
}


header{
    display: none;
}
header .border-bottom{
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}
header .link-black{
    padding: 0;
    margin: 0;
    margin-right: 30px;
    margin-top: 20px;
}
.navbar{
    display: flex;
}
.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 2em 0;
}
header .icon-small{
    width: 20px;
    margin-left: 5px;
}
.nav-links li{
    display: inline-block;
    margin: auto;
    margin-bottom: 0;
}
.nav-links a {
    text-decoration: none;
    color: black;
    margin-right: 25px;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border-top: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 10;
}
.dropdown-menu.show {
    display: block;
    padding: 2em;
	width: 1320px;
	z-index: 8000;
	position: absolute;
    inset: 100px auto auto 250px;
	margin: 0;
	transform: translate3d(0px, 50px, 0px);
    left: 50%;
    transform: translateX(-50%) translateY(50px);
}
.mega-content {
    display: flex;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
    gap: 2rem;
}
.navbar .border-left{
    border-left: 1px solid #DCDCDC;
}
.nav-menu{
    position: relative;
    width: 100%;
}
.nav-menu > ul{
    position: relative;
    z-index: 4000;
}
.nav-menu p{
    font-size: 0.8rem;
}
.nav-links h4{
    font-weight: 400;
    font-size: 1.4rem;
}
.content-submenu p{
    margin: 10px 0;
}
.content-icon{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.content-icon > *{
    display: inline-block;
    align-items: center;
}
.content-icon a{
    font-size: 0.8rem;
    width: 70%;
    margin: 0;
}
.icon-navbar{
    width: 56px;
    margin-right: 10px;
}
.icon-small{
    width: 24px;
}
.card-slider-content{
    padding:0 1em;
}
.arrows-navegation{
    position: relative;
    top: -150px;
}
.slider .container{
    width: auto;
}
.card-slider{
    border: 1px solid #062F65;
    border-radius: 20px;
    display: flex;
    align-items: start;
    height: 100%;
    min-height: 200px;
    width: 100%;
    padding: 2em 0;
    justify-content: center;
}
.swiper-slide{
    font-size: 18px;
    width: 500px;
}
.swiper-slide img{
    display: block;
    width: 64px;
    height: 64px;
    object-fit: cover;
}
.swiper-button-prev img{
    transform: rotate(180deg);
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    content: none !important;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    content: none !important;
}
.card-slider h6{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1em;
}
footer{
    background-color: #062F65;
    padding: 5em 0;
    color: white;
}
footer ul{
    padding: 0;
    margin: 0;
}
footer ul li{
    list-style: none;
    margin-bottom: 10px;
}
footer h4{
    font-size: 1.5rem;
}
footer .icons-footer li{
    margin-bottom: 0;
    display: inline-block;
    margin-right: 15px;
}
footer .link-outline-white{
    display: inline-block;
    margin: auto;
    align-items: center;
    padding: 7px 25px;
}
.accordion-btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    color: white;
    border: none;
    box-shadow: none;
    padding: 0;
    font-size: 2rem;
}
.accordion-btn:hover{
    cursor: pointer;
}
.accordion-container{
    margin: 2rem 0;
}
.accordion-content{
    display: none;
}
.accordion-content.show{
    display: block;
}
.arrow{
    transition: transform 0.3s ease;
    width: 32px;
}
.arrow.rotated{
    transform: rotate(180deg);
}
.text-center{
    text-align: center;
}
.text-end{
    text-align: end;
}

.container {
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
/*Esto es para centrar los container*/


@media (max-width: 450px){
    footer .icons-footer{
        width: max-content;
        display: flex;
    }
    footer .icons-footer li{
        width: 100%;
    }
    footer .icons-footer .link-outline-white{
        display: flex;
        justify-content: center;
    }
    footer .container{
        width: auto;
    }
}

@media (min-width: 1320px){
     header{
        display: block;
        margin: 0;
     }
}

